body {
  background-color: aqua;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.leftPanel {
  height: 100%;
  width: 35%;
  flex-shrink: 2;
  background-image: url("./images/bg-main-desktop.png");
}
.rightPanel {
  height: 100%;
  width: 65%;
  background-color: white;
}
